body{
    font-size: 2rem;
}

.mainbar h1{
    width: 100%;
    flex-grow: 2;
}

.navmobile, .navmobile-body{
    display: none;
}

#nav2{
    width: 50%;
    margin-right: 5%;
    display: flex;
    flex-grow: 1;
}

.navdesktop{
    width: 100%;
    display: inline-block;
    list-style: none;
    align-items: end;
}

.navdesktop li{
    padding: 5px 20px;
}

.navdesktop a{
    text-decoration: none;
    color: white;
}